 <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <!-- <h1><%= title %></h1>
     <p>
     	This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
     </p>
     <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
 -->

 	<div style="height:400px;width:550px;margin:50px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">
    <div style="margin-left: 35px;">
# 首页
        <form action="#"  role="form" style="margin-top: 90px;margin-left: 60px;">
# 欢迎进入首页！
            <div style="margin-top: 145px;">
                <input type="button" value="登 陆" />
            </div>
        </form>
    </div>
	</div>



    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>

